<div id="trades" class="card">
  <div class="card-body table-responsive">
    <h5 class="card-title">Trades</h5>
    <!-- <h6 class="card-subtitle mb-2 text-muted" th:text="${userName} + ' - ' + ${name}" /> -->

    <table id="tbl-trades" class="table table-striped" style="width:100%">
      <thead>
        <tr>
          <th scope="col">Account</th>
          <th scope="col">Symbol</th>
          <th scope="col">Date</th> <!-- trade_id -->
          <th scope="col">Type</th> <!-- buy/sell -->
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="t : ${trades}">
          <td th:text="${t.account}" />
          <td th:text="${t.symbol}" />
          <td th:text="${t.tradeId}" />
          <td th:text="${t.type}" />
          <td th:text="${#numbers.formatDecimal(t.shares,1,'COMMA',2,'POINT')}" />
          <td th:text="${#numbers.formatDecimal(t.price,1,'COMMA',2,'POINT')}" />
          <td th:text="${#numbers.formatDecimal(t.amount,1,'COMMA',2,'POINT')}" />
        </tr>
      </tbody>
    </table>

  </div>
</div>