<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general :: headerfiles">
    <title>DataStax: admin</title>
</head>

<body>

    <div class="col-lg-8 mx-auto p-3 py-md-5">

        <div th:replace="fragments/general :: header"></div>

        <main>
            <div class="row g-1">
                <button type="button" class="btn btn-primary">Delete User</button>
                <button type="button" class="btn btn-secondary">Delete Account</button>
                <button type="button" class="btn btn-success">Upload Statement</button>
            </div>
        </main>

        <footer class="pt-3 my-3 text-muted border-top">
            <th:block th:insert="fragments/general :: footer"></th:block>
            <script>
            </script>
        </footer>

    </div>
</body>

</html>