<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general :: headerfiles">
    <title>DataStax: admin</title>
</head>

<body>

    <div class="col-lg-8 mx-auto p-3 py-md-5">

        <div th:replace="fragments/general :: header"></div>

        <main>

            <div class="card text-center">
                <div class="card-header">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <button class="nav-link active" id="profile-tab" data-bs-toggle="tab"
                                data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
                                aria-selected="true">Profile</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link" id="myactivity-tab" data-bs-toggle="tab"
                                data-bs-target="#myactivity" type="button" role="tab" aria-controls="myactivity"
                                aria-selected="false">My Activity</button>
                        </li>

                    </ul>
                </div>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="card-body text-start">
                            <!-- <h5 class="card-title">Profile</h5> -->
                            <div th:replace="fragments/do-profile"></div>
                        </div>
                    </div>
                    <div class="tab-pane" id="myactivity" role="tabpanel" aria-labelledby="myactivity-tab">
                        <div class="card-body">
                            <h5 class="card-title">My Activity</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
        </main>

        <footer class="pt-3 my-3 text-muted border-top">
            <th:block th:insert="fragments/general :: footer"></th:block>
            <script>

                function addOption(selectId, value) {
                    $(selectId).append(new Option(value, value, false, true)); //text and value the same
                }

                function removeOption(selectId, value) {
                    $(selectId + " option[value='"+value+"']").remove();
                }

                // Assigned Roles
                $('#roles').click(function () {
                    roleValue = $(this).val();
                    console.log("clicked on role " + roleValue);
                    removeOption("#roles", roleValue);
                    addOption("#fld-available-roles", roleValue);

                })

                // Assigned Roles
                $('#fld-available-roles').click(function () {
                    roleValue = $(this).val();
                    console.log("clicked on role " + roleValue);
                    removeOption("#fld-available-roles", roleValue);
                    addOption("#roles", roleValue);
                })

            </script>
        </footer>

    </div>
</body>

</html>